<div class="loader-wrapper">
   <app-circle-loader
      direction="clockwise"
      [style.width.px]="size"
      [style.height.px]="size"
      [style.font-size.px]="size"></app-circle-loader>
   <app-circle-loader
      [style.width.px]="size*.6"
      [style.height.px]="size*.6"
      [style.font-size.px]="size*.6"
      direction="counterclockwise"></app-circle-loader>
   <app-circle-loader
      direction="clockwise"
      [style.width.px]="size*.3"
      [style.height.px]="size*.3"
      [style.font-size.px]="size*.3"></app-circle-loader>
</div>
